* {
  margin: 0px;
  padding: 0px; }

body, head {
  font-size: 10px; }

.logo {
  padding-top: 3px !important; }
  .logo img {
    width: 96px;
    height: 60px; }

header .header__left ul {
  display: flex;
  list-style-type: none; }
  header .header__left ul li {
    margin: 0px 10px;
    padding-top: 15px; }
    header .header__left ul li a {
      text-decoration: none;
      font-size: 1.6rem;
      color: #0276b3; }

.header__right ul {
  list-style-type: none;
  display: flex; }
  .header__right ul li {
    cursor: pointer;
    margin: 0px 15px;
    padding-top: 15px; }
    .header__right ul li i {
      font-size: 25px;
      color: #0276b3;
      margin-right: 10px; }
    .header__right ul li span {
      font-size: 1.2rem;
      color: #0276b3; }

.hover__line .line {
  width: 30px;
  height: 2px;
  background-color: #0276b3;
  position: relative;
  margin-top: 20px; }
  .hover__line .line::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0px;
    width: 30px;
    width: 30px;
    height: 2px;
    background-color: #0276b3; }
  .hover__line .line::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 0px;
    width: 30px;
    width: 30px;
    height: 2px;
    background-color: #0276b3; }
.hover__line:hover {
  cursor: pointer; }

header {
  margin: 20px 30px; }
  header nav {
    display: flex;
    justify-content: space-between; }
  header .rps_768 {
    display: none;
    width: 100%; }
    header .rps_768 i {
      font-size: 35px;
      color: #0276b3; }
      header .rps_768 i:hover {
        cursor: pointer; }
    header .rps_768 img {
      width: 96px;
      height: 60px; }
    @media screen and (max-width: 768px) {
      header .rps_768 {
        display: flex;
        justify-content: space-between; } }
  @media screen and (max-width: 1200px) {
    header .header__right ul li span {
      display: none; } }
  @media screen and (max-width: 768px) {
    header .header__right {
      display: none; } }
  @media screen and (max-width: 768px) {
    header .header__left {
      display: none; } }
  header .mobie__menu {
    display: none;
    width: 100%; }
    header .mobie__menu ul {
      list-style-type: none; }
      header .mobie__menu ul li {
        width: 100%;
        height: 70px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        position: relative; }
        header .mobie__menu ul li:hover {
          cursor: pointer; }
        header .mobie__menu ul li i {
          width: 15%;
          font-size: 30px;
          color: #0276b3;
          line-height: 70px; }
        header .mobie__menu ul li .mobie__menu__title {
          margin-left: 20px;
          color: #0276b3;
          font-size: 1.3rem; }
        header .mobie__menu ul li .mobie__menu__more {
          position: absolute;
          top: 0px;
          right: 0px;
          font-size: 35px;
          line-height: 70px;
          color: #0276b3; }
        header .mobie__menu ul li form {
          width: 100%;
          height: 100%;
          background-color: #0276b3;
          position: relative; }
          header .mobie__menu ul li form input {
            height: 100%;
            font-size: 2rem;
            background-color: #0276b3;
            color: white;
            padding-left: 20px;
            border: none; }
            header .mobie__menu ul li form input:focus {
              outline: none; }
            header .mobie__menu ul li form input::placeholder {
              color: white; }
          header .mobie__menu ul li form span {
            position: absolute;
            top: 0px;
            right: 10px; }
            header .mobie__menu ul li form span i {
              font-size: 50px;
              color: white; }
      header .mobie__menu ul li.language {
        background-color: #fff; }
        header .mobie__menu ul li.language .eng {
          margin: 10px 0px;
          width: 100%;
          height: 50px;
          background-color: #102b4e;
          color: white;
          font-size: 1.5rem;
          text-align: center;
          line-height: 50px; }
        header .mobie__menu ul li.language .spa {
          margin: 10px 0px;
          width: 100%;
          height: 50px;
          background-color: white;
          color: rgba(0, 0, 0, 0.3);
          border: 1px solid rgba(0, 0, 0, 0.8);
          font-size: 1.5rem;
          text-align: center;
          line-height: 50px; }
    header .mobie__menu .contact {
      margin-top: 65px; }
      header .mobie__menu .contact h2 {
        font-size: 1.8rem;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 20px; }
      header .mobie__menu .contact ul li {
        font-size: 1rem; }
        header .mobie__menu .contact ul li p {
          color: rgba(0, 0, 0, 0.5); }
        header .mobie__menu .contact ul li span {
          color: #0276b3; }

.cover {
  background-image: url("../img/cover.jpeg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  height: 600px; }
  .cover .cover__content {
    padding: 45px; }
    .cover .cover__content h2 {
      font-size: 3rem;
      color: white;
      margin-bottom: 30px; }
    .cover .cover__content .cover__detail {
      display: flex; }
      .cover .cover__content .cover__detail p {
        font-size: 1.2rem;
        color: white; }
      .cover .cover__content .cover__detail .cricle {
        margin-left: 20px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 2px solid white;
        text-align: center;
        line-height: 20px;
        font-size: 34px; }
  .cover:hover {
    cursor: pointer; }
    .cover:hover .cricle {
      background-color: white; }
      .cover:hover .cricle p {
        color: black; }

/*# sourceMappingURL=main.css.map */
