.header__right{
    ul{
        list-style-type: none;
        display: flex; 
        li{
            cursor: pointer;
            margin: 0px 15px;
            padding-top:15px;
            i{
                font-size: 25px;
                color: $color_header;
                margin-right: 10px;
            }
            span{
                font-size: $font_size_header_right;
                color: $color_header;
            }
        }
    }
}