// color
$color_header : #0276b3;

// font-size
$font_size_header_left : 1.6rem;
$font_size_header_right : 1.2rem;


// reposive
$XS:     576px;   
$SM:     768px;  
$MD:    992px;   
$XL:   1200px;  