@import '../Components/logo';
@import '../Components/header_left';
@import '../Components/header_right';
@import '../Components/header_btn';
header{
    position: fixed;
    width: 100%;
    z-index: 10;
    background: white;
    nav{
        display: flex;
        justify-content: space-between;
    }
    .rps_768{
        display: none;
        width: 100%;
        i{
            font-size: 35px;
            color: $color_header;
            &:hover{
                cursor: pointer;
            }  
        } 
        img{
            width: 96px;
            height: 60px;
        }
        @include Responsive($SM){
            display: flex;
            justify-content: space-between;
        } 
    }
    .header__right{
        ul{
            li{
                span{
                    @include Responsive($XL){
                        display: none;
                    }
                }
            }
        }
        @include Responsive($SM){
            display: none;
        }
    }
    .header__left{
        @include Responsive($SM){
            display: none;
        }
    }

    .mobie__menu{
        display: none;
        width: 100%;
        ul{
            list-style-type: none ;
            li{
                width: 100%;
                height: 70px;
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2) ;
                position: relative;
                &:hover{
                    cursor: pointer;
                }
                i{
                    width: 15%;
                    font-size: 30px;
                    color: $color_header;
                    line-height: 70px;
                }
                .mobie__menu__title{
                    margin-left: 20px;
                    color: $color_header;
                    font-size: 1.3rem;
                }
                .mobie__menu__more{
                    position: absolute;
                    top : 0px;
                    right: 0px;
                    font-size: 35px;
                    line-height: 70px;
                    color: $color_header;
                }
                form{
                    width: 100%;
                    height: 100%;
                    background-color: $color_header;
                    position: relative;
                    input{
                        height: 100%;
                        font-size: 2rem;
                        background-color: $color_header;
                        color: white;
                        padding-left: 20px;
                        border: none;
                        &:focus{
                            outline: none;
                        }
                        &::placeholder{
                            color: white;
                        } 
                    }
                    span{
                        position: absolute;
                        top:0px;
                        right: 10px;
                        i{
                            font-size: 50px;
                            color: white;
                        }
                    }
                }
            }
            li.language{
                background-color: #fff;
                .eng{
                    margin: 10px 0px;
                    width: 100%;
                    height : 50px;
                    background-color: #102b4e;
                    color: white;
                    font-size: 1.5rem;
                    text-align: center;
                    line-height: 50px;

                }
                .spa{
                    margin: 10px 0px;
                    width: 100%;
                    height : 50px;
                    background-color:white;
                    color: rgba($color: #000000, $alpha: 0.3);
                    border: 1px solid rgba(0, 0, 0, 0.8);
                    font-size: 1.5rem;
                    text-align: center;
                    line-height: 50px;
                }
            }
        }
        .contact{
            margin-top: 65px;
            h2{
                font-size: 1.8rem;
                color: rgba(0, 0, 0, 0.5);
                margin-bottom: 20px;
            }
            ul{
                li{
                    font-size: 1rem;
                    p{
                        color: rgba(0, 0, 0, 0.5);
                    }
                    span{
                        color: $color_header;
                    }
                }
            }
        }
    }

}

